.header {
  background: #000;
  color: #fff;
}

body {
  background-color: #fff;
  color: #000;
}

.main {
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 80px;
  background-color: #fff;
}

input, select, button {
  background-color: #fff;
  color: #000;
}

.subheader {
  height: 75px;
  line-height: 75px;
  padding-left: 70px;
  padding-right: 70px;
  color: black;
}

.notSupported, .notSupported a {
  background-color: red;
  color: white;
}

.footer button {
  border-color: #63338f;
  background-color: #fff;
  color: #63338f;
}

.footer button:hover {
  background-color: #63338f;
  color: #fff;
}

.footer {
    display: flex;
    justify-content: space-between;  /* Maintains space between the three main divs */
    align-items: center;  /* Aligns items vertically in the center */
    padding: 20px 70px;  /* Add padding on the sides of the footer */
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 35px;
    background-color: #fff;
    color: #000;
}

.remix button {
  border-color: #333;
  color: #333;
}

.remix button:hover {
  background-color: #333;
}

.firmware {
  border-color: #63338f;
  color: #63338f;
}

.firmware:focus,
.firmware:hover {
  background-color: #63338f;
  color: #fff;
}

.firmware:disabled {
  background-color: #ddd;
  color: #888;
}

.firmware:disabled:hover {
  background-color: #ddd;
}

#commands .buttons button {
  border-color: #333;
}

#commands .buttons button:disabled,
#commands .buttons button:disabled:hover {
  border-color: #ccc;
  background-color: #ddd;
  color: #888;
}

#commands .buttons button:hover {
  background-color: #333;
  color: #fff;
}

.progress-bar {
  border-color: #333;
}